---
import Layout from '../layouts/Layout.astro';
import { Workspace } from '../components/ui/placeholder';
---

<Layout title="Redux Todo App">
	<div class="h-full">
		<h2 class="text-lg font-semibold mb-4">Workspace Content</h2>
		<p>Select a todo from the Asset Navigator to view details</p>
	</div>
</Layout>