---
import PlaywrightTriggerWrapper from '../components/panels/PlaywrightTriggerWrapper.jsx';
---

<div style="height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center;">
  <PlaywrightTriggerWrapper client:load />
</div>