---
import UrlResizablePanel from '../components/urlResizablePanel';
---

<div style="height: 100vh; width: 100vw;">
  <UrlResizablePanel 
    urls={[
      "https://www.youtube.com/watch?v=1WWweyBaWZk&ab_channel=GoingHeadlesswithJohn",
      "https://openlibrary.org/",
      "https://www.britannica.com/",
      "https://www.britannica.com/",
    ]} 
    client:load 
  />
</div>
