---
import UrlResizablePanel from '../components/urlResizablePanel';
---

<div style="height: 100vh; width: 100vw;">
  <UrlResizablePanel 
    urls={["https://en.wikipedia.org/wiki/Library",
      [
        "https://en.wikipedia.org/wiki/Library",
        [
          "https://en.wikipedia.org/wiki/Open_Library",
          "https://en.wikipedia.org/wiki/Digital_library"
        ]
      ]
    ]}
    direction="horizontal"
    client:load 
  />
</div>
